<?xml version="1.0"?>

<launch>
	
	<arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)"/>
	<arg if="$(arg ROBOT_REAL)" name="tts_module" value="philips"/>        
	<arg unless="$(arg ROBOT_REAL)" name="tts_module" value="festival"/>        
    
    <include file="$(find pico_bringup)/launch/interaction/text_to_speech_$(arg tts_module).launch"/> 
        	   		
</launch>
