<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />
    <arg name="robot_init_x" default="$(optenv GAZEBO_ROBOT_INIT_X 0)"/>
    <arg name="robot_init_y" default="$(optenv GAZEBO_ROBOT_INIT_Y 0)"/>
    <arg name="robot_init_phi" default="$(optenv GAZEBO_ROBOT_INIT_PHI 0)"/>
    <arg name="teleport" default="false"/>    
    <arg name="kinect_raytracing" default="true"/>
    <arg name="fake_localization" default="true"/>

    <node name="gazebo" pkg="pico_bringup" type="gazebo_with_world.bash" args="$(find tue_gazebo_worlds)/worlds/$(arg env).sdf" respawn="false" output="screen"/>

    <include file="$(find pico_gazebo)/launch/pico.launch">
        <arg name="robot_init_x" value="$(arg robot_init_x)"/>
        <arg name="robot_init_y" value="$(arg robot_init_y)"/>
        <arg name="robot_init_phi" value="$(arg robot_init_phi)"/>
    </include>

    <!-- Fake localization (fixed tf is fine because simulated odom is perfect) -->
    <group if="$(arg fake_localization)">
      <node pkg="tf" type="static_transform_publisher" name="tf_fake_localization" args="0 0 0 0 0 0 /map /pico/odom 20" />
    </group>

</launch>
