<?xml version="1.0"?>
<launch>

    <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
	<remap from="scan" to="/pico/laser" />
        <param name="odom_frame" value="/pico/odom" />
        <param name="base_frame" value="/pico/base_link" />
        <param name="delta" value="0.05" />

	<!-- Initial map size -->
	<param name="xmin" value="-5" />
	<param name="ymin" value="-5" />
	<param name="xmax" value="5" />
	<param name="ymax" value="5" />

        <param name="linearUpdate"  value="0.2" />
        <param name="angularUpdate"  value="0.5" />
        <param name="map_update_interval" value="3" />
    </node>

</launch>
