<?xml version="1.0"?>
<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    
    <group ns="pico">
	<!-- Odometry publishing -->
        <node pkg="pico_base_controller" type="omnibase.py" name="odometry_publisher" output="screen">
            <param name="base_frame" value="/pico/base_link"/>
            <param name="frame_id" value="/pico/laser"/>
        </node>

	<!-- Laser publishing -->
	<include file="$(find pico_bringup)/launch/sensors/hokuyo.launch"/>

        <!-- Head controller -->
      <!--  <node pkg="pico_head_controller" type="head_driver.py" name="head_controller" output="screen">
	    <param name="port" value="/dev/ttyACM2"/>
	    <param name="pan_neutral" value="1500"/>
	    <param name="pan_max_angle" value="1.047"/>
	    <param name="tilt_neutral" value="800"/>
	    <param name="tilt_max_angle" value="0.524"/>
	</node>
-->
    </group>
</launch>
