<?xml version="1.0"?>
<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="asus_cam" default="true"/> <!-- Kinect camera on top -->
    
    <group ns="pico">
	<!-- Odometry publishing -->
        <node pkg="pico_base_controller" type="omnibase.py" name="odometry_publisher" output="screen">
            <param name="base_frame" value="/pico/base_link"/>
            <param name="frame_id" value="/pico/laser"/>
        </node>

	<!-- Laser publishing -->
	<include file="$(find pico_bringup)/launch/sensors/hokuyo.launch"/>

     <!-- Asus RGBD camera -->
       <group if="$(arg asus_cam)">
        <include file="$(find pico_bringup)/launch/sensors/asusxtion.launch"/>
      </group>

    </group>
</launch>
