<?xml version="1.0"?>

<launch>

    <arg name="machine" value="$(optenv MACHINE_GMAPPING localhost)"/>
    <include file="$(find pico_machine_files)/machines/$(arg machine).machine" />

    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="true" machine="$(arg machine)">
    <remap from="/scan" to="/robot/body/laser"/>
	<remap from="/odom" to="/robot_out"/>
	<param name="base_frame" value="base_link"/>

    <param name="delta" value="0.025" />
	<param name="xmin" value="-10" />
	<param name="ymin" value="-10" />
	<param name="xmax" value="10" />
	<param name="ymax" value="10" />
<!--	<param name="srr"  value="10" />	
	<param name="srt"  value="10" />
	<param name="str"  value="10" />
	<param name="stt"  value="10" /> -->
	<param name="angularUpdate"  value="0.5" />

    </node>

</launch>
