<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="gmapping" default="false"/>
    
  <group ns="pico">

    <!-- Localization -->
    <group if="$(arg gmapping)">
        <!-- GMAPPING -->
        <include file="$(find pico_launch_files)/launch/middleware/gmapping.launch" />
    </group>

    <group unless="$(arg gmapping)">

        <include file="$(find pico_launch_files)/launch/middleware/localization_snapmap.launch" />
    </group>

    <!-- Navigation -->
    <include file="$(find pico_launch_files)/launch/middleware/base_navigation_3d.launch" />
    <node pkg="tue_move_base_bridge" type="bridge_pico.py" name="tue_move_base_bridge" output="screen"/>

  </group>
</launch>
